<style>
  .modal-content {
  color: Black
  }
</style>

<div class="modal fade" id="Modal-ReturnConfirm-{{ book.loan_id }}"
     tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post">
          {{ return_book.hidden_tag() }}
          <h5> Are you sure you want to return {{ book.b_id.book_name }} ? </h5>
          </br>
          <input id="return_book" name="return_book" type="hidden" value="{{ book.loan_id }}">
          {{return_book.submit(class="btn btn-outline-success btn-block")}}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div>
